[Desktop Entry]
Name=Magnet
Type=Application
Comment=Open a magnet link remotly with the help of a script
Exec=/usr/local/bin/magneter %U
Categories=Network;WebBrowser;
MimeType=x-scheme-handler/magnet;
